################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project2JimmyLambert/Project2JimmyLambert
/Project2JimmyLambert/.vs/Project2JimmyLambert/v16
